.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
* {
  font-family: 'Space Grotesk', sans-serif;
}

// * {
//  outline: #452F86 solid 1px !important;
//  background-color: #452f860a !important;
// }
